
version: '3'
services:
    app:
        container_name: secret_santa_app
        build:
            context: .
            dockerfile: Dockerfile
            args:
                user: "${USER:-cativo}"
                uid: "${UID:-1000}"
        image: 'cativo23/secret-santa:latest'
        working_dir: /var/www/
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        environment:
            CONTAINER_ROLE: 'app'
        networks:
            - web
            - secret_santa
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.santa.rule=Host(`santa.cativo.dev`)"
            - "traefik.http.routers.santa.entrypoints=websecure"
            - "traefik.http.routers.santa.service=santa"
            - "traefik.http.services.santa.loadbalancer.server.port=8888"
            - "traefik.http.routers.santa.tls.certresolver=lets-encrypt"
            - "traefik.http.routers.santa.tls=true"
            - "traefik.docker.network=web"
        depends_on:
            - mysql
            - redis
    nginx:
        container_name: secret_santa_nginx
        image: nginx:alpine
        restart: unless-stopped
        ports:
            - "${APP_PORT:-8000}:80"
        volumes:
            - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
            - ./:/var/www
        networks:
            - secret_santa
        depends_on:
            - app
    mysql:
        container_name: secret_santa_mysql
        image: 'mysql/mysql-server:8.0'
        ports:
            - '${FORWARD_DB_PORT:-3306}:3306'
        environment:
            MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ROOT_HOST: "%"
            MYSQL_DATABASE: '${DB_DATABASE}'
            MYSQL_USER: '${DB_USERNAME}'
            MYSQL_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ALLOW_EMPTY_PASSWORD: 1
        volumes:
            - 'santa_mysql:/var/lib/mysql'
        networks:
            - secret_santa
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-p${DB_PASSWORD}"]
            retries: 3
            timeout: 5s
    redis:
        container_name: secret_santa_redis
        image: 'redis:alpine'
        ports:
            - '${FORWARD_REDIS_PORT:-6379}:6379'
        volumes:
            - 'santa_redis:/data'
        networks:
            - secret_santa
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            retries: 3
            timeout: 5s
    mailhog:
        image: 'mailhog/mailhog:latest'
        ports:
            - '${FORWARD_MAILHOG_PORT:-1025}:1025'
            - '${FORWARD_MAILHOG_DASHBOARD_PORT:-8025}:8025'
        networks:
            - secret_santa
networks:
    secret_santa:
        driver: bridge
    web:
        external: true
volumes:
    santa_mysql:
        driver: local
    santa_redis:
        driver: local
